streamlit==1.49.0
requests~=2.32.5
pathlib~=1.0.1
attrs~=25.3.0
distro~=1.9.0
protobuf~=5.29.5
pyOpenSSL~=25.1.0
cryptography~=45.0.6
pillow~=10.4.0
tornado~=6.5.2
Jinja2~=3.1.6
packaging~=24.2
typing_extensions~=4.14.1
httpx~=0.28.1
SpeechRecognition~=3.14.3
pvporcupine~=3.0.5
PyAudio==0.2.14
elevenlabs~=2.15.0
python-dotenv~=1.1.1
openai~=1.106.1
streamlit_mic_recorder~=0.0.8
webrtcvad-wheels~=2.0.14
